$colorPrimary : #9356DC;
$colorSecondary : #FF79DA;
$colorTertiary : #99E2D0;
$backgroundBar : #eaeaea;
$backgroundFooter : #353535;

$policeStandard : 'Roboto';
$policeLight : 'RobotoLight';
$policeTitre : 'Shrikhand';

$breakpoints :(
    tablette : 768px,
    desktopPort : 1024px,
    desktop : 1440px,
);