.search{
    display: flex;
    justify-content: center;
    background-color: $backgroundBar;
    &__dot{
        margin-top: 18px;
        padding-right: 3%;
    }
    @include desktopPortable{
        width : 30%;
        margin-left : 7%;
    }
    @include desktop{
        width : 30%;
        margin-left : 7%;
    }
}

.boxPresentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
    padding-right: 3%;
    padding-bottom: 50px;
    @include tablette{
       justify-content: flex-start;
       padding-left: 3%; 
    }
    @include desktopPortable{
        justify-content: flex-start;
        padding-left: 3%;
    }
    @include desktop{
        justify-content: flex-start;
        padding-left: 3%;
    }
}

nav{
    @include tablette{
        padding-left: 2.5%;
    }
    @include desktopPortable{
        padding-left: 7%;
    }
    @include desktop{
        padding-left: 7%;
    }
}

.etapes{
    padding-left: 7%;
    padding-right: 3%;
    padding-bottom: 3%;
    &__etp{
        display: flex;
        align-items: center;
        background-color: $backgroundBox;
        gap : 10px;
        margin-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0px 5px 10px $backgroundBar;
        margin-right: 0;
        @include tablette{
            width: 40%;
        }
        @include desktopPortable{
            width: 20%;
            margin-right: 4%;
        }
        @include desktop{
            width: 20%;
            margin-right: 4%;
        }
    }
    &__num{
        width: 22px;
        height: 22px;
        background-color: $colorPrimary;
        display: flex;
        justify-content: center;
        padding-top: 2px;
        border-radius: 10px;
        color: white;
        position: relative;
        right: 10px;
    }
    &__icone{
        color: $fonctionIcone;
    }
    &__etp:hover{
        background-color: lighten($colorPrimary, 35%);
    }
    &__etp:hover .etapes__icone{
        color: $colorPrimary;
    }
    @include tablette{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include desktopPortable{
        display: flex;
    }
    @include desktop{
        display: flex;
    }
}

.robotoStyle{
    &--top{
        padding-top: 50px;
    }
}


.resto{
    width: 100%;
    background-color: $backgroundBar;
    & .boxResto{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 10%;
        @include tablette{
            justify-content: center;
        }
        @include desktopPortable{
            flex-wrap: nowrap;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 3%;
        }
        @include desktop{
            flex-wrap: nowrap;
            padding-left: 3%;
            padding-right: 3%;
            padding-bottom: 3%;
        }
    }
    &__card{
        width: 90%;
        height: 250px;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        margin: auto;
        @include tablette{
            width: 40%;
            margin: 0;
        }
        @include desktopPortable{
            width: 20%;
            margin: 0;
        }
        @include desktop{
            width: 23%;
            margin: 0;
        }
    }
    &__img{
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        position: absolute;
        background-color: white;
    }
    &__new{
        background-color: $colorTertiary;
        width: 80px;
        text-align: center;
        color: darken($colorTertiary, 30%);
        position: absolute;
        top : 15px;
        right: 15px;
    }
    &__txt{
        margin: 0;
        padding-top: 5px;
        padding-left: 2%;
    }
    &__title {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: white;
        padding-bottom: 15px;
    }
    &__coeur{
        display: flex;
        position: absolute;
        bottom: 30px;
        right: 15px;
        &--plein{
            opacity: 0;
        }
    }
}